*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    height: 100%;
   
}

html{
    box-sizing: border-box;
    height: 100vh;
}

body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background: #EFEEEE;
}
input:focus, button:focus{
    outline: none;
}
.neu{
    background: #EFEEEE;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.8), -6px -6px 16px rgba(255, 255, 255, 0.8); 
}
#app{
    height: auto;
}
.header{
    text-align: center;
    padding: 25px;
}

.header h3{
color: #484848;}
.wrapper{
   
    height: auto;
    margin-bottom: 60px;
    position: relative;
    
}

.todo-card{
    color: rgb(71, 71, 71);
    height: 70px;
    width: 90%;
    margin: 0 auto 20px auto;
    
    line-height: 70px;
    font-size:0.9em;
    
    border-radius: 5px;
    animation: 0.3s ease-in 0s 1 slideInFromLeft;
    background: #EFEEEE;
    box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.7), -6px -6px 16px rgba(255, 255, 255, 0.7);
    
}



.inline-block{
    display: inline-block;
}


.inputBox{
    position: fixed;
    height: 8%;
    width: 100%;
    bottom: 0;
    color: black;
    border-top: 1px solid #ccc;
}
.inputBox input:first-child{
    width: 80%;
    border-right: none;
    border-radius: 5px 0 0 0;
    font-size: 0.8em;
    padding: 0 20px;
    background: #EFEEEE;
    border: none;
    
}
.inputBox input::placeholder{
    opacity: 0.8;
}
.inputBox button{
    width: 20%;
    float: right;
    background-color: #EFEEEE;
    border: none;
    transition: 0.3s;
    border-radius: 0 5px 0 0;
}
.inputBox button:active{
    background-color: rgb(74, 161, 100);
}
.inputBox button svg {
    fill:rgb(100, 218, 135);
}
.btnadd button{
    
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 70px;
    height: 70px;
    margin-left: 5%;
   
    float: right;
    border-radius:70px;
    vertical-align: middle;
    transition: 0.3s;
    
    background: #EFEEEE;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.8), -6px -6px 16px rgba(255, 255, 255, 0.8); 
    
}
.btnadd button:active{
    
    background: #EFEEEE;
    
     border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    box-shadow: inset 4px 4px 8px rgba(209, 205, 199, 0.5), inset -4px -4px 8px rgba(255, 255, 255, 0.5);
}
.btnadd button svg {
    fill: rgb(100, 218, 135);
}
/* CÓDIGO REFERENTE A CHECKBOX */
/* CÓDIGO REFERENTE A CHECKBOX */
/* CÓDIGO REFERENTE A CHECKBOX */

.container input {
    position: absolute;
    
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}



.checkmark{
    position: absolute;
    top: 5px;
    right: 8px;
    height: 22px;
    width: 22px;
   
    
    box-sizing: border-box;

    border-radius: 50%;
    background: #EFEEEE;
    border: 1px solid rgba(0, 0, 0, 0.02);
    box-sizing: border-box;
    box-shadow: inset 2px 2px 4px rgba(209, 205, 199, 0.5), inset -2px -2px 4px rgba(255, 255, 255, 0.5);
}


.container input:checked ~ .checkmark{
    background-color: rgb(100, 218, 135);
    border: none;
    box-shadow: none;
    animation: 0.35s ease-out 0s 1 flip;
  
}
.container input:not(:checked) ~ .checkmark{
    animation: 0.35s ease-out 0s 1 shrinkThenGrow;
}

.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after{
    display: block;
}

.container input:checked ~ .card-text{
    color: #808080;
   text-decoration: line-through;
}

.container .checkmark:after{
    left: 7px;
    top: 3px;
    width: 3px;
    height: 9px;
    border: solid white;
    border-width: 0 5px 5px 0;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.container {
    position: relative;
   
    top: 18px;
    left: 50px;
}

.card-text{
    position: absolute;
    left: 18px;
    top: -18px;   


    width: max-content;
    transition: 0.5s;
}
/* FIM DO CÓDIGO REFERENTE A CHECKBOX */
/* FIM DO CÓDIGO REFERENTE A CHECKBOX */
/* FIM DO CÓDIGO REFERENTE A CHECKBOX */

.delete_icon {
    height: 100%;
    width: 25%;
    box-sizing: border-box;
    background-color: transparent;
    float: right;
    text-align: center;
    padding-top: 5px;
    
}

.svg{
    height: 24px;
    width: 24px;
    fill: #ccc;
    transition: 0.3s;
}

.svg:hover{
    height: 25px;
    width: 25px;
    fill: rgb(252, 97, 97, 0.7);
}

/*KEY FRAMES*/

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0%;
    }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
}

@keyframes shrinkThenGrow {
    0%{
        transform: scale(1,1);
    }
    20%{
        transform: scale(0.5,0.5);
    }
    40%{
        transform: scale(0.25,0.25);
    }
    60%{
        transform: scale(0,0);
    }
    80%{
        transform: scale(0.5,0.5);
    }
    100%{
        transform: scale(1,1);
    }
    
}


@keyframes flip {
    0%{
        transform: scale(1,1);
    }
    20%{
        transform: scale(0.5,1);
    }
    40%{
        transform: scale(0.25,1);
    }
    60%{
        transform: scale(0,1);
    }
    80%{
        transform: scale(0.5,1);
    }
    100%{
        transform: scale(1,1);
    }
    
}


@media only screen and (min-width:788px){
    .wrapper{
        width: 40%;
        margin: auto auto;
    }
    .inputBox{
        width: 40%;
        text-align: center;
        bottom: 10%;
        margin:  0 30%;
    }
    .inputBox input:first-child{
        border-radius: 20px 0 0 20px;
    }
    
    .checkmark:hover{
        background-color: rgb(230, 230, 230);
    }
}

